.navbar-list li {
  display: inline;
  margin-right: 20px; /* Adjust spacing between list items */
}

ul {
  list-style: none;
  text-align: left;
}

ul li {
  color: white;
}
li img {
  width: 40px;
  float: right;
}
.container {
  background-color: #1f2544;
}

* {
  font-family: sans-serif;
}
