.wrapper {
  display: grid;
  background-color: #eee;
  grid-template-areas:
    "date chart chart chart chart chart"
    "date chart chart chart chart chart "
    "date nextDay1 nextDay2 nextDay3 nextDay4 nextDay5";
  gap: 10px;
  color: white;
  background-color: #bccef8;
  padding: 10px;
}

.wrapper > div {
  background-color: #98a8f8;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.date {
  grid-area: date;
  height: 40vh;
}
.chart {
  grid-area: chart;
}
.current {
  grid-area: current;
}
.nextDay1 {
  grid-area: nextDay1;
}
.nextDay2 {
  grid-area: nextDay2;
}
.nextDay3 {
  grid-area: nextDay3;
}
.nextDay4 {
  grid-area: nextDay4;
}
.nextDay5 {
  grid-area: nextDay5;
}
* {
  margin: 0px;
}
